/*create sidebar*/

.landingWrapper {
    background-image: url("/assets/img/hero/DSC_7036.jpg");
    background-size: cover;

    height: 100vh;
    display: flex;
    flex-direction: column;   
    color: black;

}

.logo {
    display: flex;
    justify-content: flex-end;
    }

.sideWrapper {
    list-style: none;
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    justify-content: flex-end;
     text-shadow: 1.5px 1.5px 3px rgba(150, 150, 150, 1);
  }

.social{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    color: whitesmoke;
} 

h1, p {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}

ul {
    display: flex;
    align-self: flex-end;
    list-style-type: none;
    color: black;
    flex-direction: column;
    font-size: 1.3em;
    text-align: right;
}

a {
    text-decoration: none;
    color: black;
}


/*hover nav-links/ icons*/

a:hover {
    color: white;
}

.socialFB:hover {
   filter: invert(1);
}

.socialIG:hover {
    filter: invert(1);
 }