<div class="container-fluid landingWrapper pe-5">
    <div class="logo py-4 mb-5">woolridge.com</div>
    <div class="sideWrapper mb-5">
        <h1>Darren Woolridge</h1>
        <p>Photography</p>
        <ul class="mt-3">
            <a routerLink="/portfolio">Portfolio</a>
            <a routerLink="/about" class="py-2">About</a>
            <!-- <li class="me-3" routerLink="/customers">Customers</li> -->
            <!-- <li class="me-3" routerLink="/testimonial">Testimonials</li> -->
            <a routerLink="/contact">Contact</a>
        </ul>
    </div>
    <div class="social mt-5">
        <a href="#" class="me-3 socialFB"><img src="assets/img/hero/facebook.png" alt="facebook"></a>
        <a href="#" class="socialIG"><img src="assets/img/hero/instagram.png" alt="instagram"></a>
    </div>

</div>
