/*create sidebar*/

.landingWrapper {
    background-image: url("/assets/img/hero/DSC_7036.jpg");
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    text-decoration: none;

}

.logo {
    display: flex;
    justify-content: flex-end;
}

.sideWrapper {
    list-style: none;
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    justify-content: flex-end;

}

.social{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    text-decoration: none;
    color: whitesmoke;
} 

h1, p {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}

ul {
    display: flex;
    align-self: flex-end;
    list-style-type: none;
    flex-direction: column;
    cursor: pointer;
}

/*hover nav-links*/

li:hover {
    color: darkslategrey;
}

.social:hover {
    color: whitesmoke;
}