<div class="container aboutWrapper">
    <div class="container aboutInner mb-4">
        <h1 class="heading mb-4">About us</h1>
        <div class="row fs-4 quote">
          <div class="col-12 mb-4 fst-italic">We know that good photography is not only a job. It is a passion, where you put in your heart and soul. It's a lifestyle!</div>
        </div>
        <div class="row pt-4 mb-5">
          <div class="col-12 col-md-6">
              <h5>Our goals</h5>
              <p class="fw-light">We always aim to reach for the stars. Each client will feel that when watching the end result</p>
          </div>
          <div class="col-12 col-md-6">
            <h5>Our promise</h5>
            <p>Every customer gets a tailor-made solution for his request. We will not stop until reaching that.</p>
          </div>
        </div>
        <div class="row mb-5">
            <div class="col-12">
                <h5>Our story</h5>
                <p>Grown up in a small town in Ohio I got my first camera at the age of 4. I always wanted to get away from the rural small-town idyll and discover the big wide world. With the camera in my pocket that meant to be easy. After meeting my wonderful wife Meghan, I kept staying in Vienna and fulfilled my dream of opening my own photo studio.
        <div class="row people mb-4"> <!--people- class for div-->
            <div class="col-12 col-md-3">
                <img class="rounded-circle img-fluid" src="assets/img/about/Photograph-tiny.png" alt="photographer">
            </div>
            <div class="col-12 col-md-9">
                <h6>Darren Woolridge</h6>
                <p class="fst-italic">Photographer</p>
                <p>30 years experience in photography - Ohio native - Globetrotter - proud father - love french fries with cheese and chili</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3">
                <img class="rounded-circle img-fluid" src="assets/img/about/PhotographersWife-tiny.png" alt="art director">
            </div>
            <div class="col-12 col-md-9">
                <h6>Meghan Woolridge</h6>
                <p class="fst-italic">Art Director</p>
                <p>long experience in image editing - Florida native - Passion for old furniture- proud mother - love everything with Matcha<p>
            </div>
        </div>
    </div>
      
</div>
