
.aboutWrapper {
    background-image: url("/assets/img/hero/DSC_7052.jpg");
    background-size: cover;

    /* height: 100vh; */
    color: lightgray;
    
}

.aboutInner {
    padding: 2vw 10vw 3vw 30vw;
}

.quote {
    margin-bottom: 3vw;
}

.people {
    margin-top: 7vw;
}

h1, h5, p {
    text-shadow: 2px 2px 4px black;
}

h5 {
    font-size: 0.85em;
}

p {
    font-size: 0.8em;
}

@media screen and (max-width: 570px) {
    .aboutInner {
        padding-top: 5vw;
        padding-left: 8vw;
       
        
    }
  }
