<div class="container aboutWrapper">
    <div class="container m-5 aboutInner">
        <h1 class="heading">About us</h1>
        <div class="row fs-4 quote">
          <div class="col-12 mb-4 fst-italic">We know that good photography is not only a job, where you put in your heart and soul. It's a lifestyle!</div>
        </div>
        <div class="row pt-4 mb-5">
          <div class="col-12 col-md-6">
              <h5>Our goals</h5>
              <p class="fw-light">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
          </div>
          <div class="col-12 col-md-6">
            <h5>Our philosophy</h5>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed</p>
          </div>
        </div>
        <div class="row mb-5">
            <div class="col-12">
                <h5>Our story</h5>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et.</p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 col-md-3">
                <img class="rounded-circle img-fluid" src="assets/img/about/Photograph-tiny.png" alt="wife">
            </div>
            <div class="col-12 col-md-9">
                <h6>Darren Woolridge</h6>
                <p class="fst-italic">Photographer</p>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3">
                <img class="rounded-circle img-fluid" src="assets/img/about/PhotographersWife-tiny.png" alt="photographer">
            </div>
            <div class="col-12 col-md-9">
                <h6>Meghan Woolridge</h6>
                <p class="fst-italic">Art Director</p>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</p>
            </div>
        </div>
    </div>
      
</div>
