<div class="container aboutWrapper my-2">
    <div class="container m-5 aboutInner">
        <h1 class="heading">About us</h1>
        <div class="row fs-4 quote">
          <div class="col-12 quote fst-italic">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</div>
        </div>
        <div class="row pt-4">
          <div class="col-6">
              <h5>Our goals</h5>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, <br> diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
          </div>
          <div class="col-6">
            <h5>Our philosophy</h5>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed</p>
          </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5>Our story</h5>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img src="" alt="">
            </div>
            <div class="col-6">
                <h6></h6>
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img src="assets/img/about/PhotographersWife.PNG" alt="photographer">
            </div>
            <div class="col-6">
                <h6></h6>
                <p></p>
            </div>
        </div>
    </div>
      
</div>
