
.aboutWrapper {
    background-image: url("/assets/img/hero/DSC_7052.jpg");
    background-size: cover;

    /* height: 100vh; */
    color: lightgray;
    
}

.aboutInner {
    padding: 2vw 5vw 2vw 30vw;
}

.quote {
    margin-bottom: 3vw;
}

h1, h5, p {
    /* opacity: 0.90; */
    text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
}

h5 {
    font-size: 0.85em;
}

p {
    font-size: 0.8em;
}