.card {
    border-radius: 15px;
}

img {
    width: 100%;    /*or 100% of container */
    height: 26em;       /* or 100% of container */
    object-fit: cover; /* none can be an option too as cover may deform it*/
    object-position: 50% 50%; /* if both 50% will center it*/


    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}