<div class="container mb-5">
    <h1 class="text-center">Our Offers</h1>
    <p class="text-center mb-5">(prices on request)</p>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="assets/img/offer/Portrait.jpg" class="card-img-top" alt="portrait">
            <div class="card-body">
              <h5 class="card-title text-center">Passport Photo / Portrait Photo</h5>
              <p class="card-text">The first impression counts, which makes it all the more important for companies, business customers and applicants to optimize their external impact with meaningful images. In addition to portrait photos for companies and professional application photos, I also offer photo shoots for people who want to capture special moments for private use with a portrait photo.</p>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card h-100">
              <img src="assets/img/offer/family.jpg" class="card-img-top" alt="family">
              <div class="card-body">
                <h5 class="card-title text-center">Family Package</h5>
                <p class="card-text">If you want something special as a couple or as a family (from fun to romantic-dreamy to easy-going) - really beautiful and extraordinary photos of you - then I am your photographer.</p>
              </div>
            </div>
          </div>
        <div class="col">
          <div class="card h-100">
            <img src="assets/img/offer/Mariage.jpg" class="card-img-top" alt="wedding">
            <div class="card-body">
              <h5 class="card-title text-center">Wedding Package</h5>
              <p class="card-text">I capture your wedding from an observer's perspective as it really happens. I work as unobtrusively as possible and don't focus on myself. No way is too far for me and I look forward to your inquiry.</p>
            </div>
          </div>
        </div>       
        <div class="col">
            <div class="card h-100">
              <img src="assets/img/offer/Product.jpg" class="card-img-top" alt="products">
              <div class="card-body">
                <h5 class="card-title text-center">Product Images</h5>
                <p class="card-text">The competition never sleeps - regardless of whether it is a catalog, poster, Internet advertising or presentation in an online shop - advertising photos that are as detailed as possible are essential for sales success.</p>
              </div>
            </div>
        </div>
      </div>
</div>