.container{
    width: 600px;
    padding-bottom: 60px;
   }
   p{
       color: black;
   }
   
   h5 ,h3{
       color: black;
     
   }
   .checked {
       color: orange;
       padding: 10px;
      font-size: 20px;
     }
    
img{
   border-radius: 10%;
}
.rounded-circle{
   width: 200px;
}   
