.container{
    width: 600px;
    padding-bottom: 60px;





   }
   p{
       color: black;
   }
   
   h5 ,h3{
       color: black;
     
   }
   .checked {
       color: orange;
       padding: 10px;
      font-size: 20px;
     }
    
img{

background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

   
}
.rounded-circle{
   width: 180px;
 

} 
.carousel-caption{
padding: 20px!important;
height: 96%;
} 


button {
    filter: invert(1);
    
}