#footer{
    background-color: black;
    color: white;
    width: 100vw;
    height: 6em;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'nav' 'brands' 'copy';
}

p{
    grid-area: copy;
    font-size: 0.7em;
    justify-self: center;
}

img{
    width: 1em;
    height: 1em;
}

a{
    padding: 0 0.5em;
}

#brands{
    grid-area: brands;
    justify-self: center;
}