<div id="footer">
    <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/portfolio">Portfolio</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/customers">Customers</a></li>
        <li><a routerLink="/testimonial">Testimonials</a></li>
        <li><a routerLink="/contact">Contact</a></li>
    </ul>
    <div id="brands">
        <a href="#"><img src="../../assets/brands/f_logo_RGB-Blue_72.png" alt="facebook"></a>
        <a href="#"><img src="../../assets/brands/Instagram_Glyph_Gradient_RGB.png" alt="instagram"></a>
    </div>
    <p>© Mario, Yasmin, Mathias, Richard | <a class="footerLink" routerLink="/imprint">Imprint</a> | <a class="footerLink" routerLink="/privacyPolicy">Privacy Policy</a></p>
</div>
